  @font-face {
    font-family: Reey;
    src: url(./Reey-Regular.otf);
}
@font-face {
    font-family: Hattori;
    src: url(./Hattori_Hanzo.otf);
}

* {
  font-family: Hattori;
}

body {
    background-color: #FAF5E4;
}

h1 {
font-family: Reey;
text-align: center;
color: #125B50;
font-size: 4rem;
}

.board_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 35vw;
    margin: auto;
    gap: 2vw;
}

.board_element {
    aspect-ratio: 1/1;
    background-color: #F8B400;
    font-family: Reey;
    text-align: center;
    font-size: 5rem;
}

div[data-index="0"] {
    grid-column: 1 / 2;
      grid-row: 1 / 2;
}

div[data-index="1"] {
    grid-column: 2 / 3;
      grid-row: 1 / 2;
}

div[data-index="2"] {
    grid-column: 3 / 4;
      grid-row: 1 / 2;
}

div[data-index="3"] {
    grid-column: 1 / 2;
      grid-row: 2 / 3;
}

div[data-index="4"] {
    grid-column: 2 / 3;
      grid-row: 2 / 3;
}

div[data-index="5"] {
    grid-column: 3 / 4;
      grid-row: 2 / 3;
}

div[data-index="6"] {
    grid-column: 1 / 2;
      grid-row: 3 / 4;
}

div[data-index="7"] {
    grid-column: 2 / 3;
      grid-row: 3 / 4;
}

div[data-index="8"] {
    grid-column: 3 / 4;
      grid-row: 3 / 4;
}


button {
font-size: 2rem;
padding: 1rem;
border-radius: 30px;
background-color: #FF6363;
border-color: #FF6363;
margin: 2rem 1.5rem;

}

div.restart {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}


p.information {
  font-size: 2rem;
  margin-top: 6rem;
}

div.divChoosePanel {
  margin: auto;
  width:fit-content;
}

.buttonO, .buttonX {
  margin: 1rem 1.5rem;
}

.alert {
  position: absolute;
  top: 50vh;
  width: 100%;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
  background-color: #125B50;
  color: #FAF5E4;
}

.whoPlays {
  font-size: 2rem;
  text-align: center;
  background-color: #125B50;
  color: #FAF5E4;
}